In [113]:



import pandas as pd



# Sample data for df_table1 and df_table2
df_table1 = {
    'acb_no': [201, 202, 203, 204, 205, 206, 140],
    'midnme': ['Smith', 'Johnson', 'Williams', 'Brown', 'Taylor', 'Clark', 'Chris'],
    'dob': ['1980-01-01', '1976-05-10', '1987-09-15', '1988-03-24', '1980-07-14', '1990-04-18', '2000-01-28'],
    'sex': ['M', 'F', 'M', 'F', 'M', 'F', 'M'],
    'lst_name': ['Smith', 'Johnson', 'Williams', 'Brown', 'Taylor', 'Clark', 'Blue'],
    'fst_name': ['John', 'Mary', 'Robert', 'Emily', 'Michael', 'Anna', 'Jorden'],
    'snd_last': ['Doe', 'Martinez', 'Garcia', 'Miller', 'Davis', 'Rodriguez', 'Lewis'],
    'dth_dte': ['2020-03-15', '2018-12-20', '2021-08-05', '2019-11-10', '2022-01-01', '2023-07-11', '2023-01-28'],
    'uli': ['A123', 'B456', 'C789', '', 'D012', 'E345', 'F678'],
    'bsurn': ['X123', 'Y456', '', 'Z789', 'W012', 'U345', 'T678'],
    'ldgyr': ['2019-01-01', '2017-12-31', '2020-05-15', '2018-11-01', '2021-01-20', '2022-07-01', '2023-01-01'],
    'region': [1, 2, 3, 4, 5, 6, 7]
}

df_table2 = {
    'acbno1': [101, 107, 103, 104, 105, 106, 140],
    'midnme1': ['Smith', 'Johnson', 'Williams', 'Brown', 'Taylor', 'Clark', 'Chris'],
    'dob1': ['1980-01-01', '1975-05-10', '1992-09-15', '1988-03-25', '1985-07-14', '1990-04-18', '1999-01-28'],
    'sex1': ['M', 'F', 'M', 'F', 'M', 'F', 'M'],
    'lstnme1': ['Smith', 'Johnson', 'Williams', 'Brown', 'Taylor','Clark', 'Blue'],
    'fstnme1': ['John', 'Mary', 'Robert', 'Emily', 'Michael', 'Anna', 'Jorden'],
    'snd_last1': ['Doe', 'Martinez', 'Garcia', 'Miller', 'Davis', 'Rodriguez', 'Lewis'],
    'dth_dte1': ['2020-03-15', '2018-12-20', '2021-08-05', '2019-11-10', '2022-01-01', '2023-07-11', '2023-01-28'],
    'uli1': ['G123', 'B456', 'H789', 'I012', 'J345', 'K678', 'L901'],
    'bsurn1': ['P123', 'Q456', 'R789', 'S012', 'T345', 'U678', 'V901'],
    'ldgyr1': ['2018-01-01', '2016-12-31', '2019-05-15', '2017-11-01', '2020-01-20', '2021-07-01', '2022-01-01'],
    'region1': [1, 2, 4, 4, 8, 1, 6]
}

# Convert dictionaries to DataFrames
maligCCR1 = pd.DataFrame( df_table1 )
maligCCR2 = pd.DataFrame( df_table2 )

# Convert date columns to datetime
maligCCR1['dob'] = pd.to_datetime(maligCCR1 ['dob'])
maligCCR2['dob1'] = pd.to_datetime(maligCCR2['dob1'])

maligCCR1['dth_dte'] = pd.to_datetime(df_table1['dth_dte'])
maligCCR2['dth_dte1'] = pd.to_datetime(df_table2['dth_dte1'])

maligCCR1['ldgyr'] = pd.to_datetime(df_table1['ldgyr'])
maligCCR2['ldgyr1'] = pd.to_datetime(df_table2['ldgyr1'])

1. **First Method of Linking (link1a)**: The code creates a new table **`link1a`** by selecting all records from **`maligCCR1`** and **`maligCCR2`** where:
    - The sex is the same in both tables.
    - The **`acb_no`** in **`maligCCR2`** is not equal to **`acbno1`** in **`maligCCR1`**.
    - The **`snd_last`** in **`maligCCR2`** is equal to **`snd_last1`** in **`maligCCR1`**.
    - The date of birth (**`dob`**) in **`maligCCR2`** matches **`dob1`** in **`maligCCR1`** in one of several specific ways.

In [114]:
# Create link1a by selecting records that meet the specified conditions
link1a = pd.merge(maligCCR1, maligCCR2, left_on='sex', right_on='sex1', suffixes=('', '1'))
link1a = link1a[(link1a['acb_no'] != link1a['acbno1']) &
                (link1a['snd_last'] == link1a['snd_last1']) &
                ((link1a['dob'] == link1a['dob1']))]
def method_1_link (row):
    condition1 = row['acb_no'] != row['acbno1']
    condition2 = row['snd_last'] == row['snd_last1']
    conditon3 = row['dob'] == row['dob1']

    if condition1 & condition2 & condition3
        return row

/**LINK1A: ALL LINKS FOR CCR YEARS USING 2ND MTHD OF LINKING**************/

1. **Second Method of Linking (link1b)**: The code creates another table **`link1b`** by selecting all records from **`maligCCR1`** and **`maligCCR2`** where:
    - The sex is the same in both tables.
    - The **`acb_no`** in **`maligCCR2`** is not equal to **`acbno1`** in **`maligCCR1`**.
    - The **`lst_name`** in **`maligCCR2`** is equal to **`lstnme1`** in **`maligCCR1`**.
    - The first name in **`maligCCR2`** matches either the first name or middle name in **`maligCCR1`**.
    - The death date (**`dth_dte`**) in **`maligCCR2`** is equal to **`dth_dte1`** in **`maligCCR1`**.
    - The absolute difference between the year of birth in **`maligCCR2`** and **`maligCCR1`** is less than or equal to 10.

In [115]:
link1b = pd.merge(maligCCR1, maligCCR2, left_on='sex', right_on='sex1', suffixes=('', '1'))
link1b = link1b[(link1b['acb_no'] != link1b['acbno1']) &
                (link1b['lst_name'] == link1b['lstnme1']) &
                ((link1b['fst_name'] == link1b['fstnme1']) | (link1b['fst_name'] == link1b['midnme1'])) &
                (link1b['dth_dte'] == link1b['dth_dte1']) &
                (abs((link1b['dob'] - link1b['dob1']).dt.days / 365.25) <= 10)]

# Optional: Reset index if needed
link1b.reset_index(drop=True, inplace=True)

# Now link1b contains the filtered records
print(link1b)

   acb_no    midnme        dob sex  lst_name fst_name   snd_last    dth_dte  \
0     201     Smith 1980-01-01   M     Smith     John        Doe 2020-03-15
1     203  Williams 1987-09-15   M  Williams   Robert     Garcia 2021-08-05
2     205    Taylor 1980-07-14   M    Taylor  Michael      Davis 2022-01-01
3     202   Johnson 1976-05-10   F   Johnson     Mary   Martinez 2018-12-20
4     204     Brown 1988-03-24   F     Brown    Emily     Miller 2019-11-10
5     206     Clark 1990-04-18   F     Clark     Anna  Rodriguez 2023-07-11

    uli bsurn  ...       dob1  sex1   lstnme1  fstnme1  snd_last1   dth_dte1  \
0  A123  X123  ... 1980-01-01     M     Smith     John        Doe 2020-03-15
1  C789        ... 1992-09-15     M  Williams   Robert     Garcia 2021-08-05
2  D012  W012  ... 1985-07-14     M    Taylor  Michael      Davis 2022-01-01
3  B456  Y456  ... 1975-05-10     F   Johnson     Mary   Martinez 2018-12-20
4        Z789  ... 1988-03-25     F     Brown    Emily     Miller 2019-11-10
5  E345  U345  ... 1990-04-18     F     Clark     Anna  Rodriguez 2023-07-11

   uli1 bsurn1     ldgyr1 region1
0  G123   P123 2018-01-01       1
1  H789   R789 2019-05-15       4
2  J345   T345 2020-01-20       8
3  B456   Q456 2016-12-31       2
4  I012   S012 2017-11-01       4
5  K678   U678 2021-07-01       1

[6 rows x 24 columns]

### 2.Flagging Matches in link1b:
- The code then adds a **`matflag`** variable to **`link1b`** based on the degree of match between the dates of birth in **`table1`**  and **`table2`**
- **Calculate the Difference in Birth Years:**
    - Loop through each record in `link1b`.
    - Calculate the absolute difference between the year part of `dob` and `dob1`.
    - Store this difference in a new column `dob_year_diff` in `link1b`.
- **Add Match Flag (matflag):**
    - Loop through each record in `link1b`.
    - Set `matflag` to 'Exact Match' if `dob_year_diff` is 0.
    - Set `matflag` to 'Close Match' if `dob_year_diff` is greater than 0 and less than or equal to 1.
    - Set `matflag` to 'Partial Match' if `dob_year_diff` is greater than 1 and less than or equal to 5.
    - Store the `matflag` in `link1b`.

In [116]:
# Initialize the dob_year_diff and matflag columns for link1a
link1a['dob_year_diff'] = pd.NA
link1a['matflag'] = pd.NA

# Calculate the difference in birth years between dob and dob1
link1b['dob_year_diff'] = abs(pd.to_datetime(link1b['dob']).dt.year - pd.to_datetime(link1b['dob1']).dt.year)

# Add matflag based on the difference in birth years
link1b['matflag'] = 'Exact Match'
link1b.loc[(link1b['dob_year_diff'] <= 1) & (link1b['dob_year_diff'] > 0), 'matflag'] = 'Close Match'
link1b.loc[(link1b['dob_year_diff'] <= 5) & (link1b['dob_year_diff'] > 1), 'matflag'] = 'Partial Match'

# Print the updated link1b table



# Identify and print names of individuals with Close Match, Partial Match, or Exact Match
exact_matches = Links1[Links1['matflag'] == 'Exact Match']
close_matches = Links1[Links1['matflag'] == 'Close Match']
partial_matches = Links1[Links1['matflag'] == 'Partial Match']


print("\nExact Matches:")
for _, row in exact_matches.iterrows():
    print(f"{row['fst_name']} {row['lst_name']} - {row['fstnme1']} {row['lstnme1']}")

print("\nClose Matches:")
for _, row in close_matches.iterrows():
    print(f"{row['fst_name']} {row['lst_name']} - {row['fstnme1']} {row['lstnme1']}")

print("\nPartial Matches:")
for _, row in partial_matches.iterrows():
    print(f"{row['fst_name']} {row['lst_name']} - {row['fstnme1']} {row['lstnme1']}")

Exact Matches:

Close Matches:
Mary Johnson - Mary Johnson

Partial Matches:
Robert Williams - Robert Williams
Michael Taylor - Michael Taylor

### 3.Sorting and Depulication: 
- The code sorts **`Links1`** by **`acb_no`** and **`acb_no1`** and removes any duplicate records

In [132]:

# Combining the Links (Links1)
Links1= pd.concat([link1a, link1b.astype(link1a.dtypes)], ignore_index=True)
# Sorting and Deduplication
Links1.sort_values(by=['acb_no', 'acbno1'], inplace=True)

# Drop rows where matflag is 'Exact Match'
Links1.drop_duplicates(subset=['acb_no', 'acbno1'], keep='first', +)
print(Links1)

   acb_no    midnme        dob sex  lst_name fst_name   snd_last    dth_dte  \
0     201     Smith 1980-01-01   M     Smith     John        Doe 2020-03-15
5     202   Johnson 1976-05-10   F   Johnson     Mary   Martinez 2018-12-20
3     203  Williams 1987-09-15   M  Williams   Robert     Garcia 2021-08-05
6     204     Brown 1988-03-24   F     Brown    Emily     Miller 2019-11-10
4     205    Taylor 1980-07-14   M    Taylor  Michael      Davis 2022-01-01
1     206     Clark 1990-04-18   F     Clark     Anna  Rodriguez 2023-07-11

    uli bsurn  ...   lstnme1  fstnme1  snd_last1   dth_dte1  uli1 bsurn1  \
0  A123  X123  ...     Smith     John        Doe 2020-03-15  G123   P123
5  B456  Y456  ...   Johnson     Mary   Martinez 2018-12-20  B456   Q456
3  C789        ...  Williams   Robert     Garcia 2021-08-05  H789   R789
6        Z789  ...     Brown    Emily     Miller 2019-11-10  I012   S012
4  D012  W012  ...    Taylor  Michael      Davis 2022-01-01  J345   T345
1  E345  U345  ...     Clark     Anna  Rodriguez 2023-07-11  K678   U678

      ldgyr1 region1 dob_year_diff        matflag
0 2018-01-01       1           NaN            NaN
5 2016-12-31       2             1    Close Match
3 2019-05-15       4             5  Partial Match
6 2017-11-01       4             0    Exact Match
4 2020-01-20       8             5  Partial Match
1 2021-07-01       1           NaN            NaN

[6 rows x 26 columns]

## Create a new dataset called **`links1_step1`** based on the existing **`links1`** dataset.
   1. **Define an attribute for the **`fileno1`** and **`fileno2`** variables with a length of 7 characters.**
    - Determine which **`acb_no`** and **`acbno1`** should be used as **`fileno1`** and **`fileno2`**:
        - If **`acb_no`** is greater than **`acbno1`**, set **`fileno1`** to **`acbno1`** and **`fileno2`** to **`acb_no`**.
        - Otherwise, set **`fileno1`** to **`acb_no`** and **`fileno2`** to **`acbno1`**.

In [118]:

# Initialize fileno1 and fileno2 columns
fileno1 = []
fileno2 = []

# Determine fileno1 and fileno2 based on acb_no and acbno
for index, row in Links1.iterrows():
    if row['acb_no'] > row['acbno1']:
        fileno1.append(str(row['acbno1']).zfill(7))
        fileno2.append(str(row['acb_no']).zfill(7))
    else:
        fileno1.append(str(row['acb_no']).zfill(7))
        fileno2.append(str(row['acbno1']).zfill(7))

# Add fileno1 and fileno2 to the DataFrame
Links1['fileno1'] = fileno1
Links1['fileno2'] = fileno2

# Create links1_step1 DataFrame
links1_step1 = Links1.copy()

print(links1_step1)

   acb_no    midnme        dob sex  lst_name fst_name   snd_last    dth_dte  \
0     201     Smith 1980-01-01   M     Smith     John        Doe 2020-03-15
5     202   Johnson 1976-05-10   F   Johnson     Mary   Martinez 2018-12-20
3     203  Williams 1987-09-15   M  Williams   Robert     Garcia 2021-08-05
4     205    Taylor 1980-07-14   M    Taylor  Michael      Davis 2022-01-01
1     206     Clark 1990-04-18   F     Clark     Anna  Rodriguez 2023-07-11

    uli bsurn  ...  snd_last1   dth_dte1  uli1 bsurn1     ldgyr1 region1  \
0  A123  X123  ...        Doe 2020-03-15  G123   P123 2018-01-01       1
5  B456  Y456  ...   Martinez 2018-12-20  B456   Q456 2016-12-31       2
3  C789        ...     Garcia 2021-08-05  H789   R789 2019-05-15       4
4  D012  W012  ...      Davis 2022-01-01  J345   T345 2020-01-20       8
1  E345  U345  ...  Rodriguez 2023-07-11  K678   U678 2021-07-01       1

  dob_year_diff        matflag  fileno1  fileno2
0           NaN            NaN  0000101  0000201
5             1    Close Match  0000107  0000202
3             5  Partial Match  0000103  0000203
4             5  Partial Match  0000105  0000205
1           NaN            NaN  0000106  0000206

[5 rows x 28 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_15036\1445537060.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Links1['fileno1'] = fileno1
C:\Users\user\AppData\Local\Temp\ipykernel_15036\1445537060.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Links1['fileno2'] = fileno2

### Handling Cases Using mthd1 for Linking:
1. **Conditions for Linking (Method 1 - `mthd1`):**
    - The following conditions must be met for a record to be included in the new variable **`pflag`**:
        - If **`dob`** in one dataset (**`maligCCR1`**) is equal to **`dob1`** in another dataset (**`maligCCR2`**).
        - Or, if specific date-related criteria are met:
            - The year part of **`dob1`** minus 1900 equals the day part of **`dob`**, and the day part of **`dob1`** equals the year part of **`dob`** minus 1900, and the month part of **`dob1`** equals the month part of **`dob`**.
            - Or, the month part of **`dob1`** equals the year part of **`dob`** minus 1900, and the year part of **`dob1`** minus 1900 equals the month part of **`dob`**, and the day part of **`dob1`** equals the day part of **`dob`**.
            - Or, the year part of **`dob1`** equals the year part of **`dob`**, and the day part of **`dob1`** equals the month part of **`dob`**, and the month part of **`dob1`** equals the day part of **`dob`**.
        - If **`uli`** in both datasets is not empty and not equal, and **`fst_name`** in one dataset is not equal to **`fstnme1`** in the other dataset.
        - Or, if **`bsurn1`** in one dataset is not equal to **`bsurn`** in the other dataset, and neither **`bsurn1`** nor **`bsurn`** is empty.
    - If any of these conditions are met, set **`pflag`** to 1; otherwise, set 2t to 0.
3. **Result:**
    - The resulting **`pflag`** variable will indicate whether a record meets the specified linking conditions.

In [119]:
# Initialize pflag
links1_step1['pflag'] = 0


# Define a function to check the conditions
def check_conditions(row):
    # Initial conditions for method one
    condition1 = row['dob'] == row['dob1']
    condition2 = (row['dob1'].year - 1900 == row['dob'].day) and (row['dob1'].day == row['dob'].year - 1900) and (row['dob1'].month == row['dob'].month)
    condition3 = (row['dob1'].month == row['dob'].year - 1900) and (row['dob1'].year - 1900 == row['dob'].month) and (row['dob1'].day == row['dob'].day)
    condition4 = (row['dob1'].year == row['dob'].year) and (row['dob1'].day == row['dob'].month) and (row['dob1'].month == row['dob'].day)
    condition5 = row['uli'] and row['uli1'] and row['uli'] != row['uli1'] and row['fst_name'] != row['fstnme1']
    condition6 = row['bsurn'] and row['bsurn1'] and row['bsurn'] != row['bsurn1']

    # Additional conditions for pflag = 2
    condition7 = row['uli'] and row['uli1'] and row['uli'] != row['uli1']
    condition8 = row['bsurn'] and row['bsurn1'] and row['bsurn'] != row['bsurn']

     # Additional conditions for pflag = 3
    condition9 = abs((row['dth_dte'] - row['dth_dte1']).days) > 60
    condition10 = row['ldgyr'] > row['dth_dte1']
    condition11 = row['ldgyr1'] > row['dth_dte']

    if condition1 or condition2 or condition3 or condition4 or condition5 or condition6:
        return 1
    elif condition7 or condition8:
        return 2
    elif condition9 or condition10 or condition11:
        return 3 
    else:
        return 0 

# Apply the function to each row
links1_step1['pflag'] = links1_step1.apply(check_conditions, axis=1)
print(links1_step1)

   acb_no    midnme        dob sex  lst_name fst_name   snd_last    dth_dte  \
0     201     Smith 1980-01-01   M     Smith     John        Doe 2020-03-15
5     202   Johnson 1976-05-10   F   Johnson     Mary   Martinez 2018-12-20
3     203  Williams 1987-09-15   M  Williams   Robert     Garcia 2021-08-05
4     205    Taylor 1980-07-14   M    Taylor  Michael      Davis 2022-01-01
1     206     Clark 1990-04-18   F     Clark     Anna  Rodriguez 2023-07-11

    uli bsurn  ...   dth_dte1  uli1  bsurn1     ldgyr1 region1 dob_year_diff  \
0  A123  X123  ... 2020-03-15  G123    P123 2018-01-01       1           NaN
5  B456  Y456  ... 2018-12-20  B456    Q456 2016-12-31       2             1
3  C789        ... 2021-08-05  H789    R789 2019-05-15       4             5
4  D012  W012  ... 2022-01-01  J345    T345 2020-01-20       8             5
1  E345  U345  ... 2023-07-11  K678    U678 2021-07-01       1           NaN

         matflag  fileno1  fileno2 pflag
0            NaN  0000101  0000201     1
5    Close Match  0000107  0000202     1
3  Partial Match  0000103  0000203     2
4  Partial Match  0000105  0000205     1
1            NaN  0000106  0000206     1

[5 rows x 29 columns]

5. **Assigning `regfinal` Based on Regions:**
    - If **`region1`** is equal to **`region`**, set **`regfinal`** to **`region`**.
    - Otherwise:
        - If either **`region1`** or **`region`** is 4 or 8, set **`regfinal`** to 8.
        - If either **`region1`** or **`region`** is 1, set **`regfinal`** to 9.
        - Otherwise, set **`regfinal`** to 7.
6. **Sorting and Deduplication:**
    - Sort the **`links1_step1`** dataset by the combination of **`fileno1`** and **`fileno2`**.
    - Remove any duplicate records.

In [135]:

# Define a function to assign regfinal
def assign_regfinal(row):
    if row['region'] == row['region1']:
        return row['region']
    elif row['region'] == 4 or row['region1'] == 4 or row['region'] == 8 or row['region1'] == 8:
        return 8
    elif row['region'] == 1 or row['region1'] == 1:
        return 9
    else:
        return 7

# Apply the function to assign regfinal
links1_step1['regfinal'] = links1_step1.apply(assign_regfinal, axis=1)

links1_step1.sort_values(by=['fileno1', 'fileno2'], inplace=True) 
links1_step1.drop_duplicates(subset=['fileno1', 'fileno2'], keep = 'first', inplace = True )
print(links1_step1)

   acb_no    midnme        dob sex  lst_name fst_name   snd_last    dth_dte  \
0     201     Smith 1980-01-01   M     Smith     John        Doe 2020-03-15
3     203  Williams 1987-09-15   M  Williams   Robert     Garcia 2021-08-05
4     205    Taylor 1980-07-14   M    Taylor  Michael      Davis 2022-01-01
1     206     Clark 1990-04-18   F     Clark     Anna  Rodriguez 2023-07-11
5     202   Johnson 1976-05-10   F   Johnson     Mary   Martinez 2018-12-20

    uli bsurn  ...  uli1  bsurn1     ldgyr1 region1 dob_year_diff  \
0  A123  X123  ...  G123    P123 2018-01-01       1           NaN
3  C789        ...  H789    R789 2019-05-15       4             5
4  D012  W012  ...  J345    T345 2020-01-20       8             5
1  E345  U345  ...  K678    U678 2021-07-01       1           NaN
5  B456  Y456  ...  B456    Q456 2016-12-31       2             1

         matflag  fileno1  fileno2 pflag regfinal
0            NaN  0000101  0000201     1        1
3  Partial Match  0000103  0000203     2        8
4  Partial Match  0000105  0000205     1        8
1            NaN  0000106  0000206     1        9
5    Close Match  0000107  0000202     1        2

[5 rows x 30 columns]

## Creating **`links1_step2`**: based on the existing **`links1_step1`** dataset.

1. **Reading Data from an External File (archive):**
    - The **`infile`** statement specifies the input file as “ARCIN” with options for padding, ignoring missing values, and setting the record length to 94 characters.
    - The variables read from the file are:
        - **`fileno1`** (a character variable of length 7) 
        - **`fileno2`** (a character variable of length 7)
        - **`date_added`** (a character variable of length 9)
    - The data is stored in a SAS dataset named “archive.”
2. **Sorting the “archive” Dataset:**
    - The **`proc sort`** step sorts the “archive” dataset by the variables **`fileno1`** and **`fileno2`**.
    - The **`nodupkey`** option removes duplicate records based on the specified key variables.
    - The resulting dataset remains named “archive” (overwriting the original dataset).
3. **Merging Datasets “links1_step1” and “archive”:**
    - The **`data`** step creates a new dataset named “links1_step2.”
    - It merges the datasets “links1_step1” (in1) and “archive” (in2) based on the common variables **`fileno1`** and **`fileno2`**.
    - Only records that exist in “links1_step1” (in1=1) and do not exist in “archive” (in2=0) are included.
    - In other words, this step links records that were previously identified as duplicates but are now excluded.
4. **Final Output:**
    - The final output is the dataset “links1_step2,” any records from “archive_data” that match existing records in “links1_step1” are excluded from         the merged dataset.

In [4]:
archive_data = pd.read_fwf("ARCIN", width = [7, 7, 9 ], names=["filesno1", "filesno2", "date_added"] )
archive_data.drop_duplicates(subset=["fileno1", "fileno2" ], inplace=True ) 
links1_step2 = pd.merge(links1_step1, archieve_data, on=["fileno1", "fileno2"], how ='left')

NameError: name 'pd' is not defined

In [ ]:
links1_step2.sort_values( by = ['regfinal', 'sex', 'lst_name', 'fstnme1' ], inplace=True )

def apply_conditions (row):
    if row['acb_no'] in ['e285765', 'g006715', 'n410255]: 
        row['ACD_id_comment'] = '  '
    
    if '924' in row['ACR_id_comment1']:
        row['ACR_id_comment1'] = '  '
        
    if '924' in row['ACR_id_comment']:
        row['ACR_id_comment'] = '  '

    return row

links1_step2.apply(appy_conditions, axis=1 )

1. **`condition1`**:
    - This variable represents the result of the first condition: whether the first character of **`fstnme1`** is equal to the first character of **`fst_name`**.
    - The data type of **`condition1`** is a boolean (True or False).
2. **`condition2`**:
    - This variable represents the result of the second condition: whether **`mid_name`** is not equal to two spaces (" ") and the first character of **`fstnme1`** is equal to the first character of **`mid_name`**.
    - Again, the data type of **`condition2`** is a boolean.
3. **`condition3`**:
    - This variable represents the result of the third condition: whether **`midnme1`** is not equal to two spaces (" ") and the first character of **`fst_name`** is equal to the first character of **`midnme1`**.
    - Once more, the data type of **`condition3`** is a boolean.

In [ ]:
a# Condition 1: Check if the first character of fstnme1 is equal to the first character of fst_name
condition1 = df['fstnme1'].str[0] == df['fst_name'].str[0]

# Condition 2: Check if mid_name is not equal to two spaces ("  ") and the first character of fstnme1 is equal to the first character of mid_name
condition2 = (df['mid_name'].str.strip() != "") & (df['fstnme1'].str[0] == df['mid_name'].str[0])

# Condition 3: Check if midnme1 is not equal to two spaces ("  ") and the first character of fst_name is equal to the first character of midnme1
condition3 = (df['midnme1'].str.strip() != "") & (df['fst_name'].str[0] == df['midnme1'].str[0])

# Combine the conditions using logical OR
result = condition1 | condition2 | condition3

links1_step3 = links1_step2[result]

1. **open the ODS (Output Delivery System) listing file** named “FRQB” for writing.
2. Execute the **ODS LISTING statement** to direct the output to the “FRQB” file.
3. Execute the **PROC SORT step** on the dataset “links1_step3” to remove duplicate keys (nodupkey):
    - Sort the data by the variable “nn”.
    - Save the sorted data to a new dataset named “links1_step3_nodup”.
4. Execute the **PROC FREQ step** on the dataset “links1_step3_nodup”:
    - Set the title for the output as “FREQUENCIES OF DUPLICATES BY CLINIC.”
    - Create frequency tables for the cross-classification of variables “regfinal” and “pflag.”
    - Exclude percentages from the output (nopercent).
    - Include missing values in the frequency tables (missing).
    - Suppress column totals (nocol) and row totals (norow).
5. **Close the ODS listing file**.
6. Revert back to the default ODS listing behavior.

**Note**: The script assumes that the dataset “links1_step3” is already available.

### /OUTPUT TEXT FILE THAT IS A SHORTLIST OF ALL CASES WITH **`PFLAG=0`**  (ON LISTS TO BE SENT TO CODERS) CAN USE THIS FILE TO ADD TO CASES TO ARCHIVE IF ALREADY HAS COMMENT*/
1. **Sort the dataset** **`links1_step2`** by the variables **`ACR_id_comment`**, **`fileno1`**, and **`fileno2`**.
2. **Remove new line characters** (0Dx) from the **`ACR_id_comment`** variable.
3. **Remove any commas** from the **`ACR_id_comment`** variable.
4. Check if:
    - The first character of **`fstnme1`** matches the first character of **`fst_name`**, **or**
    - The first character of **`fstnme1`** matches the first character of **`mid_name`**, **or**
    - The first character of **`fst_name`** matches the first character of **`midnme1`**.
5. If the **`pflag`** variable is equal to 0:
    - Write the following information to an output file named **`MATBOUT`**:
        - **`fileno1`** at position 1
        - **`fileno2`** at position 10
        - **`pflag`** at position 19
        - **`ACR_id_comment`** (up to 100 characters) at position 22
        - The value of the macro variable **`&rdate.`** at position 124.

**Note**: The script assumes that the macro variable **`&rdate.`** is defined elsewhere in the SAS program.

### /OUTPUT TEXT FILE THAT IS A SHORTLIST OF ALL CASES WITH **`PFLAG !=0`**  (ON LISTS TO BE SENT TO CODERS)  CAN USE THIS FILE TO ADD TO CASES TO ARCHIVE IF ALREADY HAS COMMENT*/

1. **Data Preparation**:
    - The code starts by reading data from a dataset called **`links1_step2`**.
    - It assigns the value of the **`ACR_id_comment`** variable after removing any newline characters (represented by **`'0D'x`**) and compressing any commas in the comment.
    - The purpose of this step is to clean up the comment data.
2. **Conditional Check**:
    - The code checks if certain conditions are met:
        - If the first character of **`fstnme1`** matches the first character of **`fst_name`**.
        - If **`mid_name`** is not equal to two spaces (i.e., it contains a non-empty value) and the first character of **`fstnme1`** matches the first character of **`mid_name`**.
        - If **`midnme1`** is not equal to two spaces and the first character of **`fst_name`** matches the first character of **`midnme1`**.
    - If any of these conditions are true, the code proceeds to the next step.
3. **Filtering by PFLAG**:
    - The code checks if the value of **`pflag`** is not equal to 0.
    - If this condition is met, the code continues to the next step.
4. **File Output**:
    - The code opens an output file called **`RIDBOUT`**.
    - It writes specific values from the dataset to the output file:
        - **`fileno1`** at position 1.
        - **`fileno2`** at position 10.
        - **`pflag`** at position 19.
        - **`ACR_id_comment`** (up to 60 characters) at position 22.
        - The value of **`&rdate.`** (which seems to be a macro or variable) at position 124.
    - The code repeats this process for each record in the dataset.

### LINK2: ONE CASE IN CCR YEAR ONE CASE IN PRE-CCR

- DUPLICATE BASED ON:
    - a) sex, soundex surname and similar dob (dob same or switch of day/mon/yr)
    - b) sex, exact surname, fst_name either fst or mid name, and same dth date and similar dob (one digit out in one of the dob fields or one dob month and day same or dob year and day same or dob year and month same)

1. **Data Preparation for maligothyr**:
    - Create a new dataset named **`maligothyr`**.
    - Merge two existing datasets: **`&refdata`** (with the alias **`in1`**) and **`step0`** (with the alias **`in2`**).
    - The merge is based on the common variable **`acb_no`**.
2. **Conditional Checks**:
    - For each record in the merged dataset:
        - Check if the record is only present in **`step0`** (i.e., **`in2=0`**).
        - Check if the value of the **`dob`** (date of birth) variable is not missing (not equal to **`.`**, which represents a missing value).
3. **Soundex Calculation**:
    - Calculate the Soundex code for the **`lst_name`** (last name) and store it in the variable **`snd_last`**.
    - Soundex is a phonetic algorithm that converts names or words into a code based on their pronunciation.
4. **Resulting Dataset**:
    - The resulting dataset **`maligothyr`** contains the merged records that meet the specified conditions.

In [2]:
import jellyfish 

refdata = pd.read_csv('ilepathtorefdata')
step0 = pd.read_csv('ilepathtorefdata')

merged_data = pd.merge(refdata, step0, on='acb_no', how='right', indicator= True)

filtered_data = merged_data['dob'].notna()

filtered_data['snd_last'] = filtered_data['lst_name'].apply(jellyfish.soundex) 

maligothyr = filtered_data

SyntaxError: invalid non-printable character U+00A0 (3499967669.py, line 2)

### Create a new table named **`link2a`** 

1. **PROC SQL**: Select all columns from two existing datasets: **`maligCCR1`** and **`maligothyr`**.
2. **Merge** is based on the following conditions:
     - The sex in **`maligCCR1`** (**`sex1`**) must match the sex in **`maligothyr`**.
     - The **`acbno1`** in **`maligCCR1`** must not be equal to the **`acb_no`** in **`maligothyr`**.
5. **Soundex Calculation**:
    - The Soundex code for the last name in **`maligCCR1`** (**`snd_last1`**) must match the Soundex code for the last name in **`maligothyr`** (**`snd_last`**).
6. **Date of Birth Matching**:
    - The date of birth (**`dob`**) in **`maligCCR1`** must match one of the following conditions:
        - **`dob1`** in **`maligCCR1`** is equal to **`dob`** in **`maligothyr`**.
        - The year of **`dob1`** minus 1900 is equal to the day of **`dob`**, and **`day(dob1)`** equals the year of **`dob`** minus 1900, and **`month(dob1)`** equals the month of **`dob`**.
        - **`month(dob1)`** equals the year of **`dob`** minus 1900, and the year of **`dob1`** minus 1900 equals the month of **`dob`**, and **`day(dob1)`** equals the day of **`dob`**.
        - The year of **`dob1`** equals the year of **`dob`**, and **`day(dob1)`** equals the month of **`dob`**, and **`month(dob1)`** equals the day of **`dob`**.
7. **Resulting Dataset**:
    - The resulting dataset **`link2a`** contains records that meet the specified conditions.

In [6]:

merged_data = pd.merge(maligCCR1, maligothr, left='sex1', right='sex' )

filtered_data = merged_data[
    (merged_data['acbno1'] != merged_data['acb_no']) &
    (merged_data['snd_last1'] == merged_data['snd_last'])
]

# Function to check date of birth matching conditions
def dob_match(row):
    dob1 = row['dob1']
    dob = row['dob']
    return (
        dob1 == dob or
        (dob1.year - 1900 == dob.day and dob1.day == dob.year - 1900 and dob1.month == dob.month) or
        (dob1.month == dob.year - 1900 and dob1.year - 1900 == dob.month and dob1.day == dob.day) or
        (dob1.year == dob.year and dob1.day == dob.month and dob1.month == dob.day)
    )


# Apply the date of birth matching conditions
filtered_data = filtered_data[filtered_data.apply(dob_match, axis=1)]

# Resulting dataset
link2a = filtered_data

NameError: name 'pd' is not defined

###     Create a new dataset named **`link2b`**.

1. **Create a New Table “link2b”**:
    - Use the **`proc sql`** procedure to create a new table named “link2b.”
    - Join two existing tables: “maligCCR1” and “maligothyr.”
    - Specify the following conditions for the join:
        - Matching sex (where **`sex1`** equals **`sex`**).
        - Excluding records where **`acbno1`** equals **`acb_no`**.
        - Matching last names (where **`lstnme1`** equals **`lst_name`**).
        - Matching first names (where **`fst_name`** matches any of the following: **`fstnme1`**, **`midnme1`**, or both).
        - Matching death dates (where **`dth_dte`** equals **`dth_dte1`**).
        - Limiting the difference in years between **`dob1`** and **`dob`** to be less than or equal to 10.
2. **Read the Newly Created “link2b” Table**:
    - Use the **`data`** step to read the newly created “linkhere **`matflag`** is 9.

In [7]:

merged_data2 = pd.merge(maligCCR2, maligothr, left='sex1', right='sex' )

filtered_data2 = merged_data2[
    (merged_data2['acbno1'] == merged_data2['acb_no']) &
    (merged_data2['lstnme1'] == merged_data2['lst_name']) &
    (
        (merged_data2['fst_name'] == merged_data2['fstnme1']) |
        (merged_data2['fst_name'] == merged_data2['midnme1'])
    ) &
    (merged_data2['dth_dte'] == merged_data2['dth_dte']) &  # Checking if 'dth_dte' is not NaN
    (abs(merged_data2['dob'].dt.year - merged_data2['dob1'].dt.year) <= 10)
]

NameError: name 'pd' is not defined

3. **Calculate “matflag”**:
    - Calculate the absolute differences in years, months, and days between the variables **`dob1`** and **`dob`**.
    - Check the following conditions:
        - If the sum of absolute differences in years, months, and days is equal to 1, set **`matflag`** to 1.
        - Otherwise, check the following sub-conditions:
            - If the month and day of **`dob1`** match the month and day of **`dob`**, set **`matflag`** to 2.
            - If the year and day of **`dob1`** match the year and day of **`dob`**, set **`matflag`** to 2.
            - If the year and month of **`dob1`** match the year and month of **`dob`**, set **`matflag`** to 2.
            - If none of the above conditions are met, check the following:
                - If **`dob_stat`** is ‘m’ (month status) and the absolute difference in years between **`dob1`** and **`dob`** is 1, set **`matflag`** to 3.
                - If **`dob_stat`** is ‘d’ (day status) and the sum of absolute differences in years and months between **`dob1`** and **`dob`** is 1, set **`matflag`** to 3.
                - Otherwise, set **`matflag`** to 9.
        - Exclude records where **`matflag`** is 9.

In [ ]:
# Calculate the absolute differences in years, months, and days between dob1 and dob
filtered_data2['year_diff'] = abs(filtered_data2['dob1'].dt.year - filtered_data2['dob'].dt.year)
filtered_data2['month_diff'] = abs(filtered_data2['dob1'].dt.month - filtered_data2['dob'].dt.month)
filtered_data2['day_diff'] = abs(filtered_data2['dob1'].dt.day - filtered_data2['dob'].dt.day)

# Function to calculate matflag
def calculate_matflag(row):
    total_diff = row['year_diff'] + row['month_diff'] + row['day_diff']
    
    if total_diff == 1:
        return 1
    
    if (
        (row['dob1'].month == row['dob'].month and row['dob1'].day == row['dob'].day) or
        (row['dob1'].year == row['dob'].year and row['dob1'].day == row['dob'].day) or
        (row['dob1'].year == row['dob'].year and row['dob1'].month == row['dob'].month)
    ):
        return 2
    
    if row['dob_stat'] == 'm' and row['year_diff'] == 1:
        return 3
    
    if row['dob_stat'] == 'd' and (row['year_diff'] + row['month_diff'] == 1):
        return 3
    
    return 9

# Apply the function to calculate matflag
filtered_data2['matflag'] = filtered_data2.apply(calculate_matflag, axis=1)

filtered_data2 = filtered_data2.drop(columns=['year_diff', 'month_diff', 'day_diff'])

# Exclude records where matflag is not set as required
filtered_data2 = filtered_data2[filtered_data2['matflag'] != 9]

# Resulting dataset
link2b = filtered_data2

### Sorting and Depulication: 
- The code mergers **`Links2a`** and **`Links2b`** into **`Links2`** sorting **`Links2`** by **`acb_no`** and **`acb_no1`** and removes any duplicate records

In [ ]:
# Combining the Links (Links1)
Links2= pd.concat([link2a, link2b.astype(link1a.dtypes)], ignore_index=True)
# Sorting and Deduplication
Links2.sort_values(by=['acb_no', 'acbno1'], inplace=True)

# Drop rows where matflag is 'Exact Match'
Links2.drop_duplicates(subset=['acb_no', 'acbno1'], keep='first', +)
print(Links12)

### Assign step 1 Conditions on Links2

In [ ]:

# Initialize fileno1 and fileno2 columns
fileno1 = []
fileno2 = []

# Determine fileno1 and fileno2 based on acb_no and acbno
for index, row in Links1.iterrows():
    if row['acb_no'] > row['acbno1']:
        fileno1.append(str(row['acbno1']).zfill(7))
        fileno2.append(str(row['acb_no']).zfill(7))
    else:
        fileno1.append(str(row['acb_no']).zfill(7))
        fileno2.append(str(row['acbno1']).zfill(7))

# Add fileno1 and fileno2 to the DataFrame
Links1['fileno1'] = fileno1
Links1['fileno2'] = fileno2

# Create links1_step1 DataFrame
links2_step1 = Links2.copy()

print(links2_step1)

links2_step1['pflag'] = links2_step1.apply(check_conditions, axis=1)
links2_step1.drop_duplicates(subset=['fileno1', 'fileno2'], keep = 'first', inplace = True )


1. **Create a New Dataset “links2_step2”**:
    - Use the **`data`** step to create a new dataset named “links2_step2.”
    - Merge two existing datasets: “links2_step1” and “archive.”
    - Specify the variables “fileno1” and “fileno2” as the merge keys.
    - The resulting dataset will contain records from both datasets.
2. **Check for Exclusion**:
    - For each observation in the merged dataset:
        - Check if the observation is from the “archive” dataset (in2=1) or not (in2=0).
        - If the observation is not from the “archive” dataset (in2=0), keep it in the output dataset.
        - Exclude observations that are from the “archive” dataset (in2=1).
3. The resulting dataset “links2_step2” will contain only the records that were not previously identified as duplicates in the “archive” dataset.

Please note that the code assumes the existence of the datasets “links2_step1” and “archive” in the SAS session. Adjustments may be needed if any assumptions are incorrect.

In [ ]:
archive = pd.read_csv('archive.csv')

# Merge the datasets on 'fileno1' and 'fileno2'
filtered_dataset = pd.merge(links2_step1, archive, on=['fileno1', 'fileno2'], how='outer', indicator='in2')

# Check for exclusion: keep only records not in the archive dataset
# `in2` column created by `pd.merge` contains 'both', 'left_only', or 'right_only'
# We only want rows with 'left_only' (rows from links2_step1 but not in archive)
links2_step2 = filtered_dataset[filtered_dataset['in2'] == 'left_only']

# Drop the `in2` indicator column as it is no longer needed
links2_step2 = filtered_dataset.drop(columns=['in2'])

### Assigning regfinal on Links2 Based on Regions

In [ ]:
links2_step2.sort_values( by = ['regfinal', 'sex', 'lst_name', 'fstnme1' ], inplace=True )

def apply_conditions (row):
    if row['acb_no'] in ['e285765', 'g006715', 'n410255]: 
        row['ACD_id_comment'] = '  '
    
    if '924' in row['ACR_id_comment1']:
        row['ACR_id_comment1'] = '  '
        
    if '924' in row['ACR_id_comment']:
        row['ACR_id_comment'] = '  '

    return row

links2_step2.apply(appy_conditions, axis=1 )

In [ ]:
a# Condition 1: Check if the first character of fstnme1 is equal to the first character of fst_name
condition1 = df['fstnme1'].str[0] == df['fst_name'].str[0]

# Condition 2: Check if mid_name is not equal to two spaces ("  ") and the first character of fstnme1 is equal to the first character of mid_name
condition2 = (df['mid_name'].str.strip() != "") & (df['fstnme1'].str[0] == df['mid_name'].str[0])

# Condition 3: Check if midnme1 is not equal to two spaces ("  ") and the first character of fst_name is equal to the first character of midnme1
condition3 = (df['midnme1'].str.strip() != "") & (df['fst_name'].str[0] == df['midnme1'].str[0])

# Combine the conditions using logical OR
result = condition1 | condition2 | condition3

links2_step3 = links2_step2[result]

### Sorting : 
-  removes any duplicate records by **`fileno1`** and **`fileno2`**

### /**OUTPUT TEXT FILE THAT IS A SHORTLIST OF ALL CASES WITH PFLAG=0 (ON LISTS TO BE SENT TO CODERS)  CAN USE THIS FILE TO ADD TO CASES TO ARCHIVE IF ALREADY HAS COMMENT*** 

1. **Sort the Dataset “links2_step2”**:
    - Use the **`proc sort`** procedure to sort the dataset “links2_step2” by the variables “fileno1” and “fileno2.”
    - This ensures that the data is ordered for subsequent processing.
2. **Clean the “ACR_id_comment” Variable**:
    - Remove new lines and extra spaces from the “ACR_id_comment” variable:
        - Use the **`translate`** function to replace newline characters (0D’x) with spaces.
        - Use the **`compress`** function to remove any extra commas from the comment.
        - The cleaned “ACR_id_comment” will be used in the output.
3. **Check Conditions for Inclusion**:
    - For each observation in the dataset:
        - Check if the first character of “fstnme1” matches the first character of “fst_name.” If true, keep the observation.
        - If “mid_name” is not empty and the first character of “fstnme1” matches the first character of “mid_name,” keep the observation.
        - If “midnme1” is not empty and the first character of “fst_name” matches the first character of “midnme1,” keep the observation.
        - Additionally, keep observations where “pflag” is 0 (i.e., pflag=0).
4. **Write Selected Observations to a Text File**:
    - Use the **`file`** statement to specify the output file (“MATOOUT”).
    - Use the **`put`** statement to write the formatted output:
        - The “fileno1” value is printed at position 1.
        - The “fileno2” value is printed at position 10.
        - The “pflag” value is printed at position 19.
        - The cleaned “ACR_id_comment” (up to 100 characters) is printed at position 22.
        - The current date (“&rdate.”) is printed at position 124./

In [8]:
# Clean the 'ACR_id_comment' variable

#replace newlice characters )D'xs with spaces
links2_step2['ACR_id_comment'] = links2_step2['ACR_id_comment'].str.replace('\n', ' ').str.replace('\r', ' ')

#remove comment
links2_step2['ACR_id_comment'] = links2_step2['ACR_id_comment'].str.replace(',', '')

conditions_plag0 = (
    (links2_step2['fstnme1'] == links2_step2['fstnme1']) |
    (links2_step2['mid_name'].notna & links2_step2['fstnme1'] == links2_step2['mid_name']) |  
    (links2_step2['midnme1'].notna & links2_step2['fst_name'] == links2_step2['midnme1']) |
    (links2_step2['pflag'] == 0)
    
)

selected_observations = links2_step2[conditions_plag0]
current_date = datetime.datetime.now().strftime('%Y-%m-%d')

with open('MATOOUT.txt', 'w') as f:
    for _, row in selected_observations.iterrows():
        fileno1 = str(row['fileno1']).ljust(9)[:9]
        fileno2 = str(row['fileno2']).ljust(9)[:9]
        pflag = str(row['pflag']).ljust(3)[:3]
        ACR_id_comment = str(row['ACR_id_comment']).ljust(100)[:100]
        
        f.write(f"{fileno1: <9}{fileno2: <9}{pflag: <3}{ACR_id_comment: <100}{current_date}\n")

print("Text file 'MATOOUT.txt' created successfully.")

NameError: name 'links2_step2' is not defined

### OUTPUT TEXT FILE THAT IS A SHORTLIST OF ALL CASES WITH PFLAG NOT=0 (REJECTED CASES NOT TO BE SENT TO CODERS) CAN USE THIS FILE TO ADD TO CASES TO ARCHIVE IF ALREADY HAS COMMENT***/

1. **Clean the “ACR_id_comment” Variable**:
    - Remove new lines and extra spaces from the “ACR_id_comment” variable:
        - Use the **`translate`** function to replace newline characters (0D’x) with spaces.
        - Use the **`compress`** function to remove any extra commas from the comment.
        - The cleaned “ACR_id_comment” will be used in the output.
2. **Check Conditions for Inclusion**:
    - For each observation in the dataset:
        - Check if the first character of “fstnme1” matches the first character of “fst_name.” If true, keep the observation.
        - If “mid_name” is not empty and the first character of “fstnme1” matches the first character of “mid_name,” keep the observation.
        - If “midnme1” is not empty and the first character of “fst_name” matches the first character of “midnme1,” keep the observation.
        - Additionally, keep observations where “pflag” is not equal to 0 (i.e., pflag not in (0)).
3. **Write Selected Observations to a Text File**:
    - Use the **`file`** statement to specify the output file (“RIDOOUT”).
    - Use the **`put`** statement to write the formatted output:
        - The “fileno1” value is printed at position 1.
        - The “fileno2” value is printed at position 10.
        - The “pflag” value is printed at position 19.
        - The cleaned “ACR_id_comment” (up to 100 characters) is printed at position 22.
        - The current date (“&rdate.”) is printed at position 124.
4. **Clean up Temporary Datasets**:
    - Use the **`proc datasets`** procedure to delete temporary datasets in the “work” library.
    - The **`memtype=data`** option ensures that only data-type datasets are deleted.

In [ ]:


# Check conditions for inclusion
conditions_plagnot0 = (
    (links2_step2['fstnme1'].str[0] == links2_step2['fst_name'].str[0]) |
    (links2_step2['mid_name'].notna() & (links2_step2['fstnme1'].str[0] == links2_step2['mid_name'].str[0])) |
    (links2_step2['midnme1'].notna() & (links2_step2['fst_name'].str[0] == links2_step2['midnme1'].str[0])) |
    (links2_step2['pflag'] != 0)
)

selected_observations = links2_step2[conditions_plagnot0]

with open('RIDOOUT.txt', 'w') as f:
    for _, row in selected_observations.iterrows():
        fileno1 = str(row['fileno1']).ljust(9)[:9]
        fileno2 = str(row['fileno2']).ljust(9)[:9]
        pflag = str(row['pflag']).ljust(3)[:3]
        ACR_id_comment = str(row['ACR_id_comment']).ljust(100)[:100]
        
        f.write(f"{fileno1: <9}{fileno2: <9}{pflag: <3}{ACR_id_comment: <100}{current_date}\n")

print("Text file 'RIDOOUT.txt' created successfully.")